@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto bold';
    src: url('font/Roboto-Medium.ttf') format('truetype');
}

body {
    margin: 20px 80px;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 1.2em;
}

/* ---------------- en-tête ---------------- */
header {
    display: flex;
    justify-content: space-between;
}

/* ---------------- partie logo à gauche ---------------- */
.logo {
    width: 300px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------- barre de navigation à droite ---------------- */
.menu ul {
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.menu li {
    padding: 20px 10px 20px 30px;
}

.menu a:hover {
    font-family: 'Roboto bold';
    color: #5B359D;
}

.menu li:hover {
    border-bottom: solid #5B359D;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* ---------------- bannière avec le logo ---------------- */
.banniere {
    background-image: url('Images/backgroung_image.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banniere img {
    height: 60px;
    width: auto;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 15% 0 15%;
}

.domaines {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 3%;
}

.domaines p {
    font-size: 0.6em;
    margin: 0 6% 0 6%;
}

.domaines h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.graphisme, .strategie, .illustrations {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temoignage {
    display: flex;
    flex-direction: column;
    margin: 0 12%;
}

.temoignage p {
    margin-bottom: 1%;
}

.temoignage h6 {
    margin-top: 0;
}

footer {
    background-color: #5B359D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid;
}

footer h6 {
    text-align: center;
}

.reseaux {
    display: flex;
    justify-content: space-around;
    padding-left: 25%;
    padding-right: 25%;
}

#twitter {
    width: 27px;
    height: 100%;
}

#facebook {
    width: 16px;
    height: 100%;
}

#instagram {
    width: 23px;
    height: 100%;
}

.menus {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-seul {
    flex: 1;
    margin-left: 7%;
}

.menus ul {
    margin-left: 2%;
    margin-top: 4%;
    font-size: 0.7em;
}

.menus h5 {
    margin-bottom: 0;
}

.menus p {
    font-size: 0.7em;
    margin-left: 20%;
}